body{
  font-family: "Verdana";
  background-color: #4d75b3;
  color: #ffffff;
}

.btn:link, .btn:visited{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

.btn:hover, .btn:active{
  background-color: red;
}
