body{
  font-family: "Verdana";
  background-color: #4d75b3;
  color: #ffffff;
}

button {
  background-color: #f44336;
  color: #ffffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  border-radius: 3%;
}

button:hover {
  background-color: #da190b;
}

.app {
  padding-left: 35vw;
  border: 3px;
}
