body{
  font-family: "Verdana";
  background-color: #4d75b3;/*blue*/
  color: #ffffff;/*white*/
}

button {
  background-color: #f44336;/*red*/
  color: #ffffff;/*white*/
  border: none;
  padding: 2vh 2vw;
  text-align: center;
  border-radius: 2%;
  text-size: 150%;
}

button:hover {
  background-color: #da190b;/*dark red*/
}
